body{
  font-family: 'Gudea', sans-serif;
}

.navbar{
    background-color: #fff;
}

button:focus{
  outline: none;
}

.menuButton {
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
}

.bar1, .bar2 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.2s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(0px);
}

.change .bar2 {
    transform: rotate(45deg) translate(-8px, -8px);
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li{
  display: inline;
  margin-right: 25px;
  text-align: right;
}

li a:hover{
  color: #dfc12a;
  text-decoration: none;
}

section{
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
  text-align: center;
}

.textarea{
  padding:20px;
}

#page1{
  height: 100%;
  background-color: #fff;
  margin: none;
  padding:0;
}

.img-circle{
    text-align:center;
    display:block;
    margin:auto;
    border:2px solid #dfc12a;
    border-radius: 50%;
    padding:10px;
}

.row{
  max-width:1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 0;
}

.style {
    max-width:750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:100px;
}

.social{
  margin-left:30px;
  padding:30px;
  font-size: 30px;
}

#page2{
  height: 100%;
  background-color: #dfc12a;
  margin-left: auto;
  margin-right: auto;
  padding:100px;
}

.mediaContainer{
  max-width:750px;
  margin-left: auto;
  margin-right: auto;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#mainSlider{
  margin-top:50px;
}

.carousel-item{
  max-width:100%;
  max-height:500px;
}

#page3{
  height: 100%;
  background-color: #fff;
  margin-top:75px;
  margin-bottom:75px;
}

h1{
  font-size: 35px;
}

.form-container{
  max-width:750px;
  margin-left: auto;
  margin-right: auto;
  padding:50px;
}

footer{
  margin-top: 10px;
  padding: 10px 0;
  background-color: #dfc12a;
  color: #000;
  text-align: center;
}
